.breakfast{
  height: 362px;
  display: flex;
  justify-content: center;
  background: linear-gradient(#0007, #000b), url("fast3.jpg") center top;
  border-radius: .5rem;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
}
.fast{
  display: flex;
  color: #fff;
  font-size: 3rem;
  text-shadow: 0 2px 2px #333;
  align-self: center;
}
